

<div class="container">
	<div class='row'>
		<div class='col-sm-4 col-md-offset-'>
			<div ng-show="error" class="alert alert-danger">{{errorMessage}}</div>
			<form>
				<br/>	
				<div class='form'>
					<div class='form-group'>
						<label>Bev Item</label>
    				<input type="text" class="form-control"placeholder="Bev Item" ng-model="admin.bev.item" required>
					</div>
					<div class='form-group'>
						<label>Type</label>
    				<select ng-model="admin.bev.type" class="form-control" type="text">
    					<option value="" selected disabled>Select Type</option>
    					<option value="beer">beer</option>
    					<option value="wine">wine</option>
    					<option value="cocktail">cocktail</option>
    					<option value="NA">NA</option>
    				</select>
					</div>
					<div class='form-group'>
						<label>Serving Size</label>
    				<input type="number" class="form-control"placeholder="Serving Size" ng-model="admin.bev.servingSize" required>
					</div>
					<div class='form-group'>
						<label>Menu Price</label>
    				<input type="number" class="form-control"placeholder="Menu Price" ng-model="admin.bev.menuPrice" required>
					</div>
					<div class='form-group'>
						<label>Food Cost</label>
    				<input type="number" class="form-control"placeholder="Cost Per Serving" ng-model="admin.bev.costPerServing" required>
					</div>
					<button class='btn btn-primary' ng-click="createBevItem()" ng-disable='disable'>Create</button>
				</div>
			</form>
		</div>
	</div>
</div>