<div class="row">
	<div class='container'>
		<div class="col-md-4 col-md-offset-1">
			
			<form>
				<label class="radio-inline">
					<input ng-model="menu.toggle.bev" id="beer" type="radio" value="beer" selected>
					Beer
				</label>
				<label class="radio-inline">
					<input ng-model="menu.toggle.bev" id="Wine" type="radio" value="wine">
					Wine
				</label>
				<label class="radio-inline">
					<input ng-model="menu.toggle.bev" id="Cocktails" type="radio" value="cocktails">
					Cocktails
				</label>
				<label class="radio-inline">
					<input ng-model="menu.toggle.bev" id="NA" type="radio" value="NA">
					N/A
				</label>
			</form>


<!-- Beverage Selection Menu -->

			<div ng-show="menu.toggle.bev === 'beer'" class="form-group">
		    <label>Beers</label>
				<select ng-model="menu.bev.beerSelect" class="form-control" type="text" placeholder="Select Beer" ng-change="addBev(menu.bev.beerSelect)">
					<option value="" disabled selected='selected'>Beer Selection</option>
				  <option value="Amber">Amber</option>
				  <option value="Pale">Pale</option>
				  <option value="IPA">IPA</option>
				</select>
			</div>
			<div ng-show="menu.toggle.bev === 'wine'" class="form-group">
		    <label>Wines</label>
				<select ng-model="menu.bev.wineSelect" class="form-control" type="text" placeholder="Select Wine" ng-change="addBev(menu.bev.wineSelect)">
					<option value="" disabled selected='selected'>Wine Selection</option>
				  <option value="Chardonnay">Chardonnay</option>
				  <option value="Sauv Blanc">Sauv Blanc</option>
				  <option value="Merlot">Merlot</option>
				  <option value="Petit Sirah">Petit Sirah</option>
				</select>
			</div>
			<div ng-show="menu.toggle.bev === 'cocktails'" class="form-group">
		    <label>Cocktails</label>
				<select ng-model="menu.bev.cocktailSelect" class="form-control" type="text" placeholder="Select Cocktail" ng-change="addBev(menu.bev.cocktailSelect)">
					<option value="" disabled selected='selected'>Cocktail Selection</option>
				  <option value="G&T">G&T</option>
				  <option value="Tamarind Mescal">Tamarind Mescal</option>
				  <option value="Whiskey Sour">Whiskey Sour</option>
				</select>
			</div>
			<div ng-show="menu.toggle.bev === 'NA'" class="form-group">
		    <label>Non Alcoholic</label>
				<select ng-model="menu.bev.NASelect" class="form-control" type="text" placeholder="Select Beverage" ng-change="addBev(menu.bev.NASelect)">
					<option value="" disabled selected='selected'>NA Selection</option>
				  <option value="Sparkling">Sparkling Water</option>
				  <option value="Kombucha">Kombucha</option>
				  <option value="Coffee">Coffee</option>
				</select>
			</div>
		</div>


		<!-- current beverage menu -->
		<div class="col-md-5 col-md-offset-1">
			<span class="bigFont">Current Bev Menu</span>
			<br/>
			<br/>
			<output-bev-template collections="menu.bev.selected"></output-bev-template>
			</div>
		</div>

</div>