<div class="container">
	<div class="row">
		<div class="col-md-4 col-md-offset-1">
			<form>
			  <div class="form-group">
			    <label for="date-input">Event Date</label>
			    <input ng-model="basics.date" type="date" class="form-control" id="date-input" placeholder="MM/DD/YY">
			  </div>
			  <div class="form-group">
			    <label for="start-time">Start Time</label>
					<select ng-model="basics.start" class="form-control" type="time" placeholder="Start Time">
					  <option value='1'>1:00</option>
					  <option value='2'>2:00</option>
					  <option value='3'>3:00</option>
					  <option value='4'>4:00</option>
					  <option value='5'>5:00</option>
					</select>
				</div>
			  <div class="form-group">
			    <label for="start-time">End Time</label>
					<select ng-model="basics.end" class="form-control" type="time" placeholder="End Time">
					  <option value='1'>1:00</option>
					  <option value='2'>2:00</option>
					  <option value='3'>3:00</option>
					  <option value='4'>4:00</option>
					  <option value='5'>5:00</option>
					</select>
				</div>
			  <div class="form-group">
			    <label for="total-guests">Total Guests</label>
			    <input ng-model="basics.totalGuests" type="number" class="form-control" placeholder="Total Guests">
			  </div>
			  <div class="checkbox">
			    <label>
			      <input ng-model="basics.isSurprise" type="checkbox"> surprise?
			    </label>
			  </div>
			  <button type="button" class="btn btn-default" ng-click="basics.createEvent()">Submit</button>
			</form>
		</div>
	</div>
</div>